/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #E5E5E5;
    margin: 0;
}

.app{
  display: grid;
  grid-template-columns: 10% 10px auto 10px 20%;
  grid-template-rows: 10px auto 10px;
  justify-items: stretch;
  height: 100vh;
  width: 100wh;
}

.selector{
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.workspace{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: -1;
}

.console{
  grid-column-start: 5;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  align-self: stretch;
  color: white;
  background-color: #181D08;
  overflow: auto;
}