.content {
  display: grid;
  place-items: center;

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8B918A;
  color: whitesmoke;
  padding: 5px;
  margin: 0;
  margin-top: 10px;
  height: 80px;
  width: 200px;
  overflow: auto;

  &.small {
    height: 30px;
    width: 100px;
  }
}

.additional{
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connector {
  background-color: orange;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &.minor {
    background-color: yellow;
  }

  &.input {
    top: 50%;
    left: 0;
    
    &.first {
      transform: translate(-50%, -150%);
    }
    
    &.second {
      transform: translate(-50%, 150%);
    }
    
    &.center {
      transform: translate(-50%, 0%);
    }

  }
  &.element {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.out {
      transform: translate(-120px, -50%);
    }

    &.in {
      transform: translate(100px, -50%);
    }
  }

  &.output {
    top: 50%;
    left: 100%;
    transform: translate(-50%, 0%);
  }

  &:hover {
    background-color: bisque;
  }
}

.operation{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8B918A;
}

// these should be expanded upon and made more general for all content types
.loop {
  display: grid;
  grid-template-columns: [start] 30px [c2] 140px [c3] auto [c4] 140px [c5] 30px [end];
  grid-template-rows: [start] 30px [head] 15px [r2] auto [r3] 15px [last-line];
}


.substring {
  display: grid;
  grid-template-columns: [start] 10px [c2] 90px [c3] auto [c4] 110px [c5] 10px [end];
  grid-template-rows: [start] 30px [head] 10px [r3] 60px [r4] auto [r5] 60px [r6] 10px [end];
}