.content {
  display: grid;
  place-items: center;

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8B918A;
  color: whitesmoke;
  padding: 5px;
  margin: 0;
  margin-top: 10px;
  height: 80px;
  width: 200px;
  overflow: auto;

  &.small {
    height: 30px;
    width: 100px;
  }
}

.additional{
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connector {
  background-color: orange;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &:hover {
    background-color: bisque;
  }

  &.input {
    top: 50%;
    left: 0;
    
    &.first {
      transform: translate(-50%, -150%);
    }
    
    &.second {
      transform: translate(-50%, 150%);
    }
    
    &.center {
      transform: translate(-50%, 0%);
    }

  }
  &.element {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.out {
      transform: translate(-150px, -50%);
    }

    &.in {
      transform: translate(150px, -50%);
    }
  }

  &.output {
    top: 50%;
    left: 100%;
    transform: translate(-50%, 0%);
  }
}

.operation{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8B918A;
}