.box {
  position: absolute;
  cursor: move;
  background-color: #181D08;
  color: whitesmoke;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  user-select: none;

  &.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D770D;
    color: whitesmoke;
    height: 30px;
    border-radius: 5px 5px 0 0;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
  }
}