.content {
  display: grid;
  place-items: center;

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8B918A;
  color: whitesmoke;
  height: 60px;
  width: 200px;
  padding: 0;
  margin: 0;
}

.connector {
  background-color: orange;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &:hover {
    background-color: bisque;
  }

  &.input {
    top: 50%;
    left: 0;
    
    &.first {
      transform: translate(-50%, -150%);
    }
    
    &.second {
      transform: translate(-50%, 150%);
    }
    
    &.center {
      transform: translate(-50%, 0%);
      
    }


  }

  &.output {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
}

.operation{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8B918A;
}