.box {
  position: relative;
  cursor: move;
  background-color: #181D08;
  color: whitesmoke;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  user-select: none;

  &.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D770D;
    color: whitesmoke;
    height: 30px;
    border-radius: 5px 5px 0 0;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
  }
}

.connector {
  background-color: orange;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &:hover {
    background-color: bisque;
  }

  &.input {
    top: 0;
    left: 0;
    
    &.first {
      // transform: translate(-50%, -125%);
    }
    
    &.second {
      // transform: translate(-50%, -25%);
    }
    
    &.center {
      // transform: translate(-50%, -50%);
      
    }


  }

  &.output {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
}